# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# IDE
.vscode/
.idea/

# OS junk
.DS_Store

# Build/output
build/
dist/

tumvi_dataset/
reference papers/

# Data
*.zip
*.bag
*.npy
*.npz
*.pth
*.pt